@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Index";
}

<h1>Bu sayfayı sadece üye olan kullanıcılar görebilir.</h1>

<h4>Claim Verileri</h4>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Claim Type</th>
            <th>Claim Value</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in User.Claims)
       {
           <tr>
               <td>@item.Type</td>
               <td>@item.Value</td>
           </tr>
       }
    </tbody>
</table>

<h4> Authentication Verileri</h4>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Auth propperty key</th>
            <th>Auth property Value</th>
        </tr>
    </thead>

    <tbody>
        @foreach (  var item in(await Context.AuthenticateAsync()).Properties.Items)
       {
           <tr>
               <td>@item.Key</td>
               <td>@item.Value</td>
           </tr>
       }
    </tbody>
</table>
